{% extends '../common/header.html' %}

        {% block subIncludeFileBeforeBody %}
    
        <style type = "text/css">
.box{
    min-width:25%;
    min-height:300px;
    float:left
}
.border{
    border-top:solid 6px rgb(187, 221, 119);
    border-bottom:solid 6px rgb(187, 221, 119);
    border-left:solid 6px rgb(187, 221, 119);
}
        </style>

        {% endblock %}


{% block mainContent  %}

    <div  style = "width:100%;">
        <div style = "float:left">
            <a href = "javascript:void(0)" onclick = "showScrumProfile()">Scrum 介绍</a>
        </div>
        <div style = "float:right">
            {% if data.user == null %}
                <a href = "javascript:void(0)">登录</a> -
                <a href = "/visitor/user/register/to-register">注册</a>
            {% else %}
            <span>{{data.user.username}}</span> -
            <a href = "/visitor/user/logout?id={{data.user.id}}">退出</a>
            {% endif %}

        </div>
        <div style = "clear:both"></div>
    </div>

    <div id = "scrumProfile" style = "display:none;width:100%">
        <div>
        <ul>
            <li>Issue: 大的任务，例如 做运动，学习写一篇影评，学会某一项技术</li>
            <li>ICE BOX：分解后的任务，如，做运动，那么 ICE BOX 可以分为 做俯卧撑10个，深蹲20个 等</li>
            <li>IN PROGRESS：从 ICE BOX 中挑选出来的正在执行中的任务</li>
            <li>TESTING：如果是程序员，那么则需要测试；如果不是程序员，可以理解为反省，校验初步完成的任务是否ok</li>
            <li>COMPLETE：完成任务</li>
        </ul>
        </div>
        <div style = "width:100%;" class = "text-right">
            <a href = "javascript:void(0)" class = "btn btn-primary btn-sm" onclick = "hideScrumProfile()"
                style = "border-radius:0">收起</a>
        </div>
    </div>


    <div style ="margin-top:15px;">
    <div class = "text-center" style = "min-width:25%;float:left;">
        <span style = "font-weight:bold">ICE BOX</span>
    </div>
    <div class = "text-center" style = "min-width:25%;float:left">
        <span style = "font-weight:bold">IN PROGRESS</span>
    </div>
    <div class = "text-center" style = "min-width:25%;float:left">
        <span style = "font-weight:bold">TESTING</span>
    </div>
    <div class = "text-center" style = "min-width:25%;float:left">
        <span style = "font-weight:bold">COMPLETE</span>
    </div>
    </div>

    <div style = "clear:both"></div>

    <div>
    <div class = "border box">
    </div>
    <div class = "border box">
    </div>
    <div class = "border box">
    </div>
    <div class = "border box" style = "border-right:solid 6px rgb(187, 221, 119);">
    </div>
    </div>

    <div style = "clear:both"></div>

    <div style = "margin-top:15px;">
        <span style = "font-weight:bold">Issue:</span><br/>
        <div style = "height:45px;width:120px;border:solid 1px #ddd;padding:5px;display:inline-block">
            <div>
                做运动
            </div>
            <div class= "text-right" style = "width:100%">
                <div style = "height:12px;width:40px;background-color:rgb(255, 153, 170);display:inline-block">
                </div>
            </div>
        </div>
        <div style = "height:45px;width:120px;border:solid 1px #ddd;padding:5px;display:inline-block">
            <div>
                看完RabbitMQ
            </div>
            <div class= "text-right" style = "width:100%">
                <div style = "height:12px;width:40px;background-color:rgb(255, 238, 136);display:inline-block">
                </div>
            </div>
        </div>
    </div>

    <hr/>


    <script type = "text/javascript">
var i = 0;
function showScrumProfile(){
    if(i == 0){
        $("#scrumProfile").css("display","inline-block");
        i = 1;
    } else {
        $("#scrumProfile").css("display","none");
        i = 0;
    }
}

function hideScrumProfile(){
    $("#scrumProfile").css("display","none");
}
    </script>
{% endblock %}
