{% extends '../common/header.html' %}

{% block subIncludeFileBeforeBody %} 

<style type = "text/css">
    .commentInputStyle {
        outline:none; 
        border:0px;
        border-bottom:1px solid #DDDDDD;
        width:100%;
    }
    a {
        cursor:pointer;
    }
</style>

<script src = "/javascripts/myJs/visitor/article/comment.js" ></script>
<script src = "/javascripts/myJs/visitor/article/reply.js" ></script>


{% endblock %}

{% block mainContent  %}
    <div style = "width:730px;margin:auto auto;">
        <input type = "hidden" value = "{{data.id}}" id= "articleId">
        
        <div id = "articleContent" style = "padding:30px;box-shadow: 1px 2px 2px 2px #DDDDDD">
            <div class = "text-right">
                <span style = "font-size:13px;">阅读量：{{data.readNum}} 次</span><br/>
                <span style = "font-size:13px;">发布时间：{{data.operationTime}} </span>
            </div>
            <br/>
            <div>
                <span style = "font-size:18px;">{{data.title}}</span>
            </div>
            <hr style = "background:none repeat scroll 0 0 #ddd;border:thin none;height:5px;margin-left:0px;width:15%"/>
            <div>
                {% autoescape false %}{{data.content}}{% endautoescape %}
            </div>
        </div>

        <div style = "margin-top:30px;"><a href = "javascript:void(0)" onclick = "showComments()">{{data.commentSize}} 条评论</a></div>

        <div id = "publishComment" style = "margin-top:30px;display:none">
            <h5>发表评论</h5>
            <div style = "width:24%;display:inline-block;float:left">
                <input type = "text" id = "username" class = "commentInputStyle" placeholder = "您的联系方式（邮箱）">
            </div>
            <div style = "width:1%;display:inline-block;float:left">:</div> 
            <div style = "width:26%;display:inline-block">
                <input type = "password" id = "password" class = "commentInputStyle" placeholder = "6位密文">
            </div>
            <div style = "clear:both"></div>
            <div style = "width:90%;display:inline-block;float:left">
                <input type = "text" id = "content" class = "commentInputStyle" placeholder = "评论内容">
            </div>
            <div style = "width:4%;display:inline-block;float:right;margin-top:5px;margin-right:10px">
                <a href = "javascript:void(0)" onclick = "comment()">发表</a>
            </div>
            <div style = "clear:both"></div>
            <div id = "commentWarn"></div>
        </div>

        <div id = "displayComment" style = "margin-top:30px;display:none">
            {% for comment in data.commentList %} 
            <div style = "margin-top:15px;padding:10px;box-shadow: 1px 2px 2px 2px #DDDDDD">
            
                {% if comment.replyTo == null || comment.replyTo == "" %}
                <span style = "color:#259">{{comment.username}}：</span>
                {% else %}
                <span style = "color:#259">{{comment.username}}&nbsp;&nbsp;</span>
                <span style = "color:#999">回复&nbsp;&nbsp;</span>
                <span style = "color:#259">{{comment.replyTo}} :</span>
                {% endif %}
                <br/>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{comment.content}}</span>
                <br/>
                <div>
                    <div style = "float:left">
                        <span style = "color:#999">{{comment.operationTime}}</span>
                    </div>
                    <div style = "float:right">
                        {% if comment.replyTo == null || comment.replyTo == "" %}
                        <a href = "javascript:void(0)" onclick = "reply('{{comment.id}}','{{comment.username}}',this)">回复</a>
                        {% else %}
                        <a href = "javascript:void(0)" onclick = "reply('{{comment.id}}','{{comment.username}}',this)">回复</a> &nbsp;&nbsp; 
                        <a data-toggle="modal" data-target="#myModal" onclick = "showConversation('{{comment.username}}','{{comment.replyTo}}')">查看对话</a>
                        {% endif %}
                    </div>
                    <div style = "clear:both"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    查看对话
                </h4>
            </div>
            <div class="modal-body">
                <span id = "content"></span>
                <!--在这里添加一些文本-->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block subIncludeFileAfterBody %}

<script type = "text/javascript">

function showComments(){
    if($("#publishComment").css("display") == "none"){
        $("#publishComment").css("display","block");
        $("#displayComment").css("display","block");
    } else {
        $("#publishComment").css("display","none");
        $("#displayComment").css("display","none");
    }
}

function showConversation(username1,username2){
     $.ajax({
        type: 'POST',
        url: 'showConversation',
        data: {
             "username1": username1,
             "username2": username2
        },
        success: function(data){
            var html = getDiv0(data[0].username,data[0].content,data[0].operationTime);
            for(var i = 1; i < data.length; ++i){
                if(data[i].username == username1){
                    html = html + getDiv(data[i].username,
                                         data[i].replyTo,
                                         data[i].content,
                                         data[i].operationTime);
                } else {
                     html = html + getDiv(data[i].username,
                                          data[i].replyTo,
                                          data[i].content,
                                          data[i].operationTime);
                }
            }

            $("#myModalLabel").text("查看对话");
            $(".modal-body").html(html);
        },
        error: function(err){
            alert("后端服务报错，获取对话失败，请稍候再试");
        }
    })
}

function getDiv0(username,content,time){
    var html = 
        "<div>" +
            "<span style = \"color:#259\">"+username+"：</span>" +
            "<br/>" +
            "<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+content+"</span>" +
            "<br/>" +
            "<span style = \"color:#999\">"+time+"</span>" +
        "<div>";
    return html;
}
function getDiv(username1,username2,content,time){
    var html = 
        "<hr/>" + 
        "<div>" +
            "<span style = \"color:#259\">"+username1+"&nbsp;&nbsp;</span>" +
            "<span style = \"color:#999\">回复&nbsp;&nbsp;</span>" +
            "<span style = \"color:#259\">"+username2+" :</span>" +
            "<br/>" +
            "<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+content+"</span>" +
            "<br/>" +
            "<span style = \"color:#999\">"+time+"</span>" +
        "<div>";
    return html;
}

</script>
{% endblock %}
