{% extends '../common/header.html' %}

{% block subIncludeFileBeforeBody %} 
{% endblock %}

{% block mainContent  %}
    <div style = "width:700px;margin:auto auto;">
        <div class = "text-right">
            <span style = "font-size:13px;">阅读量：{{data.readNum}} 次</span><br/>
            <span style = "font-size:13px;">发布时间：{{data.operationTime}} </span>
        </div>
        <br/>
        <div>
            <span style = "font-size:18px;">{{data.title}}</span>
        </div>
        <hr style = "background:none repeat scroll 0 0 #ddd;border:thin none;height:5px;margin-left:0px;width:15%"/>
        <div>
            {% autoescape false %}{{data.content}}{% endautoescape %}
        </div>
    </div>
{% endblock %}
    

{% block subIncludeFileAfterBody %}{% endblock %}

