{% extends 'common/header.html' %}

{% block mainContent  %}
    <div style = "width:70%;border:1px solid #ddd;padding:15px;margin:auto auto">
        <h2>{{data.article.title}}</h2>
        <hr style = "background:none repeat scroll 0 0 #ddd;border:thin none;height:5px;margin-left:0px;width:15%"/>
        <div>
            {% autoescape false %}{{data.article.content}}{% endautoescape %}
        </div>
        <div style= "width:100%">
            <div style = "float:right">
                <input type="button" class="btn btn-sm btn-primary" value="Back" onclick = "window.history.go(-1);">
            </div>
            <div style = "clear:both"></div>
        </div>
    </div>
{% endblock %}

