
{% extends 'common/header.html' %}

{% block mainContent  %}
    <div style = "width:70%;border:1px solid #ddd;padding:15px;margin:auto auto">
        <h2>Links ......</h2>
        <hr/>
        <!--<hr style = "background:none repeat scroll 0 0 #ddd;border:thin none;height:3px;margin-left:0px;width:15%"/>-->
        <div>
            <div>
                <p><a href = "https://www.ted.com/" target="_blank">1. TED：Ideas worth spreading</a></p>
                <img src = "/myImg/ted.png" width="200" height="111"></img>
                <br/><br/>
            </div>
            <div>
                <p><a href = "http://www.zhibo8.cc/" target="_blank">2. 直播吧</a>：5月28号 8：30 - 猛龙：骑士(2:3);
                5月29号 2：45 - 皇马：马竞（欧冠决赛）; 5月29号 9：00 - 雷霆：勇士(3:2)
                </p>
            </div>
            <div>
                <p>
                    <a href = "http://www.youku.com/show_page/id_zcc001f06962411de83b1.html" 
                        target="_blank">3. 看个火影</a>
                </p>
            </div>
            <div>
                <p>
                    <a href = "https://www.zhihu.com/collection/78303330?page=1" 
                        target="_blank">4. 先把自己的 collection 看完</a>
                </p>
            </div>
        </div>
        <h2>比较有趣的人 ......</h2>
        <hr/>
        <div>
            <div>
                <p>
                    <a href = "https://www.zhihu.com/people/ling-long-xie-seng" 
                        target="_blank">1. 知乎 - 玲珑邪僧</a>
                </p>
            </div>
            <div>
                <p>
                    <a href = "https://www.zhihu.com/people/bo-bo-85-45" 
                        target="_blank">2. 知乎 - BO BO</a>
                </p>
            </div>
            <div>
                <p>
                    <a href = "https://www.zhihu.com/people/cai-tong" 
                        target="_blank">3. 知乎 - 采铜 的收藏夹</a>
                </p>
            </div>
        </div>
        <h2>看个视频 ......</h2>
        <hr/>
        <div>
            <div>
                <p>
                    <a href = "http://www.youku.com/show_page/id_zcc001f06962411de83b1.html" 
                        target="_blank">1. 励志的:《年轻人一定要奋斗吗》</a>
                </p>
            </div>
        </div>

        <div style= "width:100%">
            <div style = "float:right">
                <input type="button" class="btn btn-sm btn-primary" value="Back" onclick = "window.history.go(-1);">
            </div>
            <div style = "clear:both"></div>
        </div>
    </div>
{% endblock %}

