{% extends '../common/header.html' %}

{% block mainContent  %}
    <div style = "width:500px;margin-left:auto;margin-right:auto">
        <span>技术探讨欢迎提 issue 或者 email :</span><br/>
        <span>Email：wuhuachuan712@163.com</span><br/>
        <span>Github：<a href = "https://github.com/pzxwhc" target = "_blank">https://github.com/pzxwhc</a></span><br/>
        <br/>
        <br/>
        <span>帮打赏两个赞👍哦。</span><br/>
        <span>微博：<a href = "http://weibo.com/1796766555/profile?topnav=1&wvr=6&is_all=1" target = "_blank">click here<span><br/>
        <span>知乎：<a href = "https://www.zhihu.com/people/wuhuachuan" target = "_blank">click here<span><br/>
    </div>
{% endblock %}
