{% extends '../common/header.html' %}

{% block mainContent  %}
    <div style = "width:70%;border:1px solid #ddd;padding:15px;margin:auto auto">
        <h2>{{data.article.title}}</h2>
        <hr style = "background:none repeat scroll 0 0 #ddd;border:thin none;height:5px;margin-left:0px;width:15%"/>
        <div>
            {% autoescape false %}{{data.article.content}}{% endautoescape %}
        </div>
    </div>
    <a href="javascript:void(0)" id="scroll-top" title="Back to Top"onclick = "window.history.go(-1);"
        style = "opacity:1;bottom:25px;visibility:visible;background:#337ab7;">
        <span style = "font-size:10px;">Back</span>
    </a>
    <a href="#top" id="scroll-top" title="Back to Top"
        style = "opacity:1;bottom:80px;visibility:visible;background:#337ab7;">
        <span style = "font-size:10px;">Top</span>
    </a>
{% endblock %}

