{% extends '../common/header.html' %}

{% block mainContent  %}
    <div style = "width:55%;border:1px solid #ddd;padding:15px;margin:auto auto">
        <h2>Hello World ......</h2>
        <hr/>
        <div>
            <div>
                <span style = "font-weight:bold">Github：<a href = "https://github.com/pzxwhc" target = "_blank">https://github.com/pzxwhc</a>......</span><br/><br/>
                <span style = "font-weight:bold">知乎：<a href = "https://www.zhihu.com/people/wuhuachuan" target = "_blank">https://www.zhihu.com/people/wuhuachuan</a>......</span><br/><br/>
                <span style = "font-weight:bold">新浪微博：<a href = "http://weibo.com/1796766555/profile?topnav=1&wvr=6&is_all=1" target = "_blank">http://weibo.com/1796766555/profile?topnav=1&wvr=6&is_all=1</a></span>
            </div>
            <div style = "margin-top:15px">
                <p>嘿嘿嘿嘿，😄，谢谢大家......</p>
            </div>
        </div>

        <div style= "width:100%">
            <div style = "float:right">
                <input type="button" class="btn btn-sm btn-primary" value="Back" onclick = "window.history.go(-1);">
            </div>
            <div style = "clear:both"></div>
        </div>
    </div>
{% endblock %}
