{% extends '../common/header_leftSide.html' %}

{% block subIncludeFileBeforeBody %}
{% endblock %}

{% block subMainContent  %}
    <h3>Author</h3>
    <span>id: {{data.author.id}}</span><br/>
    <span>username: {{data.author.username}}</span><br/>
    <span>email: {{data.author.email}}</span><br/>
    <span>qq: {{data.author.qq}}</span><br/>
    <span>wechat: {{data.author.wechat}}</span><br/>
    <span>github: <a href = "{{data.author.github}}" target = "_blank">{{data.author.github}}</a></span><br/>
    <span>nickName: {{data.author.nickName}}</span><br/>
    <span>birthday: {{data.author.birthday}}</span><br/>
    <span>id: {{data.author.id}}</span><br/>
{% endblock %}
