{% extends '../common/header_leftSide.html' %}

{% block subIncludeFileBeforeBody %}
        <style type = "text/css">
            .table tbody > tr > td {
                padding:0;
            }
            .table>thead>tr>td {
                padding:0;
            }
            .table tbody > tr > td:first-child {
                padding:0px;
            }
        </style>
{% endblock %}

{% block subMainContent  %}
    <input type = "text" class = "form-control" id = "moduleName" name = "name" 
        style = "display:inline;width:20%" placeholder = "Module Name"> &nbsp;&nbsp;
    <input type = "text" class = "form-control" id = "weight" name = "weight" 
        style = "display:inline;width:20%" placeholder = "weight:1,2,3 ..."> &nbsp;&nbsp;
    <input type = "text" class = "form-control" id = "link" name = "link" 
        style = "display:inline;width:20%" placeholder = "Module Link"> &nbsp;&nbsp;
    <button class = "btn btn-primary btn-sm" onclick = "addModule()">Add Module</button>
    <span id = "addModuleWarn" style = "color:red"></span>
    <h3>Module 列表</h3>
    <table class = "table table-striped">
        <thead>
            <td>Module Name</td>
            <td>Module Weight</td>
            <td>Module Link</td>
            <td>Operation1</td>
            <td>Operation2</td>
         </thead>
        <tbody class = "moduleItem">
            {% for module in data.modules %}
            <tr id = "{{module.id}}">
                <td class = "moduleName">{{module.name}}</td>
                <td class = "moduleWeight">{{module.weight}}</td>
                <td class = "moduleLink">{{module.link}}</td>
                <td class = "moduleUpdate">
                    <a href = "javascript:void(0)" 
                        onclick = "updateModule('{{module.id}}','{{module.name}}','{{module.weight}}','{{module.link}}')">
                        Update
                    </a>
                </td>
                <td>
                    <a href = "javascript:void(0)" 
                        onclick = "deleteModule('{{module.id}}')">
                        Delete
                    </a>
                </td>
             </tr>
             {% endfor %}
        </tbody>
    </table>

    <div id = "showUpdateArea">
    </div>

<script type = "text/javascript">
function addModule(){
    $('#addModuleWarn').empty();
    var name = $('#moduleName').val();
    var weight = $('#weight').val();
    var link = $('#link').val();

    if(validModule(name,weight,link)){
        $.post('/admin/module/add-module',{name:name,weight:weight,link:link},function(data,status){
            if(status == 'success'){
                var module = data.module;
                $('.moduleItem').append(
                    "<tr id = \"" + module.id + "\">" +
                        "<td class = \"moduleName\">"+ module.name +"</td>" + 
                        "<td class = \"moduleWeight\">"+ module.weight +"</td>" + 
                        "<td class = \"moduleLink\">"+ module.link +"</td>" + 
                        "<td class = \"moduleUpdate\">" +
                            "<a href = \"javascript:void(0)\" " +  
                                "onclick = \"updateModule('"+module.id+"','"+module.name+"','"+module.weight+"','"+module.link+"')\"> " + 
                                "Update" +
                            "</a>" + 
                        "</td>" + 
                    "</tr>"
                );
            } else {
                $('#addModuleWarn').append("&nbsp;&nbsp;some error occurs!!!");
            }
        })
    } else {
       $('#addModuleWarn').append("param cannot be null!");
    }
}

function updateModule(id,name,weight,link){
    $('#showUpdateArea').empty();
    $('#showUpdateArea').append(
            "<h3>Module 修改</h3> " +
            "<input type = \"hidden\" value = \""+ id +"\" id = \"updateModuleId\">" +
            "<input type = \"text\" class = \"form-control\" id = \"moduleName1\" name = \"name\" " + 
                "style = \"display:inline;width:20%\" value = \""+ name +"\"> &nbsp;&nbsp;" + 
            "<input type = \"text\" class = \"form-control\" id = \"weight1\" name = \"weight\" " + 
                "style = \"display:inline;width:20%\" value = \" "+ weight +"\"> &nbsp;&nbsp;" + 
            "<input type = \"text\" class = \"form-control\" id = \"link1\" name = \"link\" " + 
                "style = \"display:inline;width:20%\" value = \""+ link +"\"> &nbsp;&nbsp;" + 
            "<button class = \"btn btn-primary btn-sm\" onclick = \"doUpdateModule()\">Update Module</button>" + 
            "<span id = \"updateModuleWarn\" style = \"color:red\"></span>"
            );
}


function doUpdateModule(name,weight,link){

    $('#updateModuleWarn').empty();
    var id = $('#updateModuleId').val();
    var name = $('#moduleName1').val();
    var weight = $('#weight1').val();
    var link = $('#link1').val();

    if(validModule(name,weight,link)){
        $.post('/admin/module/add-module',{id:id,name:name,weight:weight,link:link},function(data,status){
            if(status == 'success'){
                var module = data.module;
                var id = "#" + module.id;

                $(id).children(".moduleName").empty();
                $(id).children(".moduleWeight").empty();
                $(id).children(".moduleLink").empty();
                $(id).children(".moduleUpdate").empty();

                $(id).children(".moduleName").append(module.name);
                $(id).children(".moduleWeight").append(module.weight);
                $(id).children(".moduleLink").append(module.link);
                $(id).children(".moduleUpdate").append(
                            "<a href = \"javascript:void(0)\" " +
                                "onclick = \"updateModule('"+module.id+"','"+module.name+"','"+module.weight+"','"+module.link+"')\"> " + 
                                "Update" +
                            "</a>"
                        );
                $('#showUpdateArea').empty();
            } else {
                $('#updateModuleWarn').append("&nbsp;&nbsp;some error occurs!!!");
            }
        })
    } else {
       $('#updateModuleWarn').append("param cannot be null!");
    }
}


function validModule(name,weight,link){
    if(name == null || name.trim() == "" || weight == null || weight.trim() == "" || link == null || link.trim() == ""){
         return false;
    } else {
        return true;
    }
}

function deleteModule(id){
    $.post('/admin/module/delete-module',{id:id},function(data,status){
        if(status == "success"){
            var iden = "#" + id;
            $(iden).remove();
        } else {
            alert("delete fail.");
        }
    })
}


</script>
{% endblock %}
