{% extends '../common/header.html' %}

{% block mainContent  %}
    <div style = "width:55%;border:1px solid #ddd;padding:15px;margin:auto auto">
        <h2>Hello World ......</h2>
        <hr/>
        <div>
            <div>
                <p>口天_，中华的_，山川的_，谢谢大家......</p>
            </div>
        </div>

        <div style= "width:100%">
            <div style = "float:right">
                <input type="button" class="btn btn-sm btn-primary" value="Back" onclick = "window.history.go(-1);">
            </div>
            <div style = "clear:both"></div>
        </div>
    </div>
{% endblock %}
