{% extends '../common/header.html' %}

{% block mainContent  %}
    <div style = "width:55%;border:1px solid #ddd;padding:15px;margin:auto auto">
        <h2>Hello world ......</h2>
        <hr/>
        <div>
            <div>
                <p>终于有个个人小站了......</p>
                <p>后面打算分享些技术上的文章，还有一些平常去玩的，一些好的东西......
                </p>
                <p>然后，然后，再集成个 Life 项目（就是个做计划的东西），我的github上有这个说明，
                    再做个管理项目（比如说财务管理啦，日记啦之类）
                </p>
                <p>如果有什么好点子也可以告诉我哦，免费帮实现，蛤蛤蛤....</p>
            </div>
            <div>
                <p><a href = "https://github.com/pzxwhc" target="_blank">1. 我的 GitHub：【点这里】</a>
                </p>
            </div>
            <div>
                <p><a href = "https://www.zhihu.com/people/wuhuachuan" target="_blank">2. 我的知乎：【点这里】</a>
                </p>
            </div>
        </div>

        <div style= "width:100%">
            <div style = "float:right">
                <input type="button" class="btn btn-sm btn-primary" value="Back" onclick = "window.history.go(-1);">
            </div>
            <div style = "clear:both"></div>
        </div>
    </div>
{% endblock %}
